<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width" name="viewport" />
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
		<link href="/favicon.ico" rel="icon" />
		<meta content={Astro.generator} name="generator" />
		<title>Astro Basics</title>
		<link href="/sitemap-index.xml" rel="sitemap" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
